# Ignore everything under results (no exceptions now)
imseg_workload/results/**
imseg_workload/raw-data-dir/**
# Ignore CSV/PDF anywhere
*.csv
*.pdf

# Logs
*.log
*.log.*
imseg_workload/DALI_prev/
# Ignore checkpoints
imseg_workload/ckpts/*

Minato/data_loading_old/** 

imseg_workload/results_allsystems.csv
